// COLOR
$brandColorAirbnb: #fd5c63;
$brandColorAmazon: #ff9900;
$brandColorAndroid: #a4c639;
$brandColorBehance: #1769ff;
$brandColorDribbble: #ea4c89;
$brandColorDropbox: #0061ff;
$brandColorFacebook: #3b5998;
$brandColorGitHub: #4078c0;
$brandColorHangouts: #23a061;
$brandColorInstagram: #4c5fd7;
$brandColorKickstarter: #2bde73;
$brandColorLinkedIn: #0077b5;
$brandColorLyft: #ff00bf;
$brandColorMedium: #292929;
$brandColorMeetup: #ea2245;
$brandColorMessenger: #1787fb;
$brandColorNetflix: #e50914;
$brandColorPatreon: #f96854;
$brandColorPayPal: #253b80;
$brandColorPinterest: #cb2027;
$brandColorProductHunt: #d85537;
$brandColorQuora: #a82400;
$brandColorReddit: #ff4500;
$brandColorShopify: #96be4f;
$brandColorSkype: #00aff0;
$brandColorSlack: #6ecadc;
$brandColorSnapchat: #fffc00;
$brandColorSpotify: #1ed760;
$brandColorTelegram: #0088cc;
$brandColorTrello: #117abd;
$brandColorTwitch: #6441a5;
$brandColorTwitter: #00b6f1;
$brandColorUber: #000000;
$brandColorVimeo: #45bbff;
$brandColorWhatsApp: #25e47a;
$brandColorYouTube: #ff0000;
$brandColorDiscord: #7289da;
$brandColorFeedly: #2bb24c;
$brandColorHeroku: #6762a6;
$colorsBlack: #141419;
$colorsBlue100: #dfe9f5;
$colorsBlue200: #bed2e8;
$colorsBlue300: #87b1d7;
$colorsBlue400: #5786ba;
$colorsBlue50: #edf3fa;
$colorsBlue500: #4768a1;
$colorsBlue600: #3f5b8c;
$colorsBlue700: #354875;
$colorsBlue800: #213054;
$colorsBlue900: #16162c;
$colorsBlue950: #060818;
$colorsGreen100: #edf3ec;
$colorsGreen200: #e1e8df;
$colorsGreen300: #c8d9c4;
$colorsGreen400: #95b58d;
$colorsGreen50: #f7f8f6;
$colorsGreen500: #4a7e3c;
$colorsGreen600: #3d6227;
$colorsGreen700: #2e4f25;
$colorsGreen800: #1e3418;
$colorsGreen900: #0d1a09;
$colorsGreen950: #010905;
$colorsGrey100: #ececec;
$colorsGrey200: #e3e3e3;
$colorsGrey300: #c7c7c7;
$colorsGrey400: #b4b4b9;
$colorsGrey50: #f6f6f6;
$colorsGrey500: #a2a2a7;
$colorsGrey600: #737378;
$colorsGrey700: #5c5c62;
$colorsGrey800: #45454a;
$colorsGrey900: #2d2d32;
$colorsGrey950: #1f1f1f;
$colorsMint100: #d9f1f5;
$colorsMint200: #bee5eb;
$colorsMint300: #a0dce5;
$colorsMint400: #5ec6d6;
$colorsMint50: #f1f9fb;
$colorsMint500: #00adc1;
$colorsMint600: #0094a6;
$colorsMint700: #00707d;
$colorsMint800: #004f58;
$colorsMint900: #00434a;
$colorsMint950: #171a1c;
$colorsPurple100: #ddd9f7;
$colorsPurple200: #bbb2ef;
$colorsPurple300: #9a8ce8;
$colorsPurple400: #7865e0;
$colorsPurple50: #eeecfb;
$colorsPurple500: #563fd8;
$colorsPurple600: #4532ad;
$colorsPurple700: #342682;
$colorsPurple800: #221956;
$colorsPurple900: #110d2b;
$colorsPurple950: #090616;
$colorsRed100: #faeded;
$colorsRed200: #f2dcdc;
$colorsRed300: #e3b8b8;
$colorsRed400: #d08585;
$colorsRed50: #fcf7f7;
$colorsRed500: #bf211e;
$colorsRed600: #a31a1a;
$colorsRed700: #870000;
$colorsRed800: #690000;
$colorsRed900: #4f0000;
$colorsRed950: #090103;
$colorsWhite: #ffffff;
$colorsYellow100: #fff3b9;
$colorsYellow200: #ffe995;
$colorsYellow300: #ffda70;
$colorsYellow400: #fac54b;
$colorsYellow50: #fffadc;
$colorsYellow500: #e5a329;
$colorsYellow600: #c97b0c;
$colorsYellow700: #a25400;
$colorsYellow800: #6e3100;
$colorsYellow900: #301300;
$colorsYellow950: #0c0903;
$themeAccentDefault: #4a7e3c;
$themeAccentDisabled: #c7c7c7;
$themeAccentEmphasis: #3d6227;
$themeAccentMuted: #95b58d;
$themeAccentSubtle: #f7f8f6;
$themeBgCanvas: #f6f6f6;
$themeBgMuted: #c7c7c7;
$themeBgSubtle: #e3e3e3;
$themeBgSurface: #ffffff;
$themeBorderDefault: #e3e3e3;
$themeErrorDefault: #a31a1a;
$themeErrorEmphasis: #bf211e;
$themeErrorMuted: #d08585;
$themeErrorOnError: #ffffff;
$themeErrorSubtle: #faeded;
$themeFgDefault: #141419;
$themeFgDisabled: #b4b4b9;
$themeFgMuted: #5c5c62;
$themeFgOnAccent: #ffffff;
$themeFgOnDark: #ffffff;
$themeFgOnDisabled: #737378;
$themeFgOpacity1: #ffffff;
$themeFgOpacity10: #ffffff;
$themeFgOpacity20: #ffffff;
$themeFgOpacity30: #ffffff;
$themeFgOpacity40: #ffffff;
$themeFgOpacity5: #ffffff;
$themeFgOpacity50: #ffffff;
$themeFgOpacity60: #ffffff;
$themeFgOpacity70: #ffffff;
$themeFgOpacity80: #ffffff;
$themeFgOpacity90: #ffffff;
$themeFgSubtle: #a2a2a7;
$themeInfoDefault: #ac9f81;
$themeInfoEmphasis: #d1c5ae;
$themeInfoMuted: #e8e0d1;
$themeInfoOnInfo: #ffffff;
$themeInfoSubtle: #f5f1e9;
$themeInputBackground: #ffffff;
$themeInputBorderDefault: #c7c7c7;
$themeInputBorderDisabled: #e3e3e3;
$themeInputFgDisabled: #c7c7c7;
$themeInputPlaceholder: #a2a2a7;
$themeInputText: #45454a;
$themeOverlayBg: #141419;
$themeShadowDefault: #303133;
$themeSuccessDefault: #3d6227;
$themeSuccessEmphasis: #4a7e3c;
$themeSuccessMuted: #95b58d;
$themeSuccessOnSuccess: #ffffff;
$themeSuccessSubtle: #edf3ec;
$themeWarningDefault: #c97b0c;
$themeWarningEmphasis: #e5a329;
$themeWarningMuted: #ffda70;
$themeWarningOnWarning: #141419;
$themeWarningSubtle: #fff3b9;
